<h2>When planning for a family you should be aware that the following conditions are known to increase health risks for both the mother and child:</h2>


<section class="topics">
  <% @topics.each do |topic| %>
    <div class="row">
      <div class="col-md-12 topic">
           <strong><%=topic.name%>:</strong>
           <%= topic.description %>
      </div>
    </div>
  <% end %>
</section>