<h2 class="page-title">
  Symptoms in month <%= @term.month %> of pregnancy
  <!-- this needs translating -->
</h2>
<div class="symptoms">
  <% @symptoms.each do |symptom| %>
  <div class="row">
    <div class="symptom">
      <h3> <%=symptom.title%> </h3>
      <div class="description">
        <%= symptom.description %>. For more information, <a href="<%= symptom_path(symptom.id) %>">click here</a>
      </div>
    </div>
  </div>
  <% end %>
</div>


