<% @symptoms.each do |symptom| %>

  <section class="symptoms">
  Symptoms in <%= @term.month %>
    <div class="row">
      <div class="col-md-12">
         <a href="<%= symptom_path(symptom.id) %>" class="button">
           <%=symptom.title%>
         </a>
      </div>
    </div>

  </section>

<% end %>