<div class="page-title">
  Symptoms in month <%= @term.month %> of pregnancy
</div>

  <% @symptoms.each do |symptom| %>

  <div class="row">
    <div class="col-md-12">
      <div class="symptoms">
        <a class="button" href="<%= symptom_path(symptom.id) %>"><%=symptom.title%></a>
        <div class="description">
          <%= symptom.description %>
        </div>
      </div>
    </div>
  </div>


<% end %>