body {
  font-size: 100px;
}


section.welcome {
  font-size: 24px;
}

.welcome button.btn-default {
  margin: 170px 0 0 0;
  width: 100%;
  height: 500px;
  font-size: 100px;
  background-color: #DDDDDD !important;
  color: #31708F;
  border-radius: 5px !important;
}

.menu button.btn-default {
  margin: 70px 0 0 0;
  width: 100%;
  height: 250px;
  font-size: 100px;
  background-color: #DDDDDD !important;
  color: #31708F;
  border-radius: 5px !important;
}