<section class="menu">

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= link_to "نصائح عامة", topics_path, class: "button" %>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= link_to "الأعراض", symptoms_path, class: "button" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= link_to "بلد", topics_path, class: "button" %>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= link_to "دواء", symptoms_path, class: "button" %>
    </div>
  </div>

</section>