<!-- welcome to the english app - (put this into flash message) -->

<section class="menu">

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= link_to "General Advice", topics_path, class: "button" %>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= link_to "Symptoms", symptoms_path, class: "button" %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <%= link_to "Country", topics_path, class: "button" %>
    </div>

    <div class="col-md-6 col-sm-12">
      <%= link_to "Medicine", symptoms_path, class: "button" %>
    </div>
  </div>

</section>