<!-- welcome to the english app - (put this into flash message) -->

<section class="menu">

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <a href="/terms" class="button">Pregnancy Advice</a>
    </div>

    <div class="col-md-6 col-sm-12">
      <a href"/topics" class="button">Family Planning</a>
    </div>
  </div>

</section>