<section class="welcome">
  <div id="maintitle"><strong>Hababy</strong></div>
  <div id="subtitle">Ensure your hababy is a safe baby</div> 
  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form method="get" action='/english'>
        <button type="submit" class="button" value="english">English</button>
      </form>
    </div>

    <div id="box" class="col-md-6 col-sm-12">
      <form method="get" action='/arabic'>
        <button type="submit" class="button">العربية</button>
      </form>

        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>

      <footer>
        <p><strong>Handcrafted at #EmpowerHack London &#xa9; 2015</strong></p>
        <p><strong><a href="mailto:someone@example.com">Get in touch</a></strong></p>
    </footer> 
  </div>

</section>

