<section class="welcome">

  <div class="row">
    <div class="col-md-6 col-sm-12">
      <form method="get" action='/english'>
        <button type="submit" class="button" value="english">English</button>
      </form>
    </div>

    <div class="col-md-6 col-sm-12">
      <form method="get" action='/arabic'>
        <button type="submit" class="button">العربية</button>
      </form>
    </div>
  </div>

</section>
