<section class="terms">
  <div class="row">
    <h1>Terms (pregnancy terms)</h1>
  </div>

  <div class="new">
    <%= link_to 'create new term', new_admin_term_path %>
  </div>

  <div class="row">
    <div class="row">
      <ul>
        <p>
          <li>month |</li>
          <li>ante_natal? |</li>
          <li>post_natal? |</li>
          <li>edit |</li>
          <li>delete</li>
        </p>
      </ul>
    </div>
  </div>


  <div class="row">
    <ul>
    <% @terms.each do |term| %>
      <p>
        <li><%= term.month %> |</li>
        <li><%= term.ante_natal %> |</li>
        <li><%= term.post_natal %> |</li>
        <li><%= link_to 'edit', edit_admin_term_path(term) %></li>
        <li><%= button_to "delete", {action: 'destroy',
                                 id: term.id }, method: :delete %></li>
      </p>
    <% end %> 
    </ul>
  </div>
</section>