// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-size: 24px;
}


section.welcome {
  font-size: 24px;
}

.welcome button.btn-default {
  margin: 170px 0 0 0;
  width: 100%;
  height: 500px;
  font-size: 100px;
  background-color: #DDDDDD !important;
  color: #31708F;
  border-radius: 5px !important;
  @media only screen and (min-width: 48em) {
    margin: 60px 0 0 0;
  }
}

.menu {
  .button {
    display: block;
    margin: 70px 0 0 0;
    padding: 60px;
    text-align: center;
    background-color: #DDDDDD !important;
    color: #31708F;
    border-radius: 5px !important;
  }
}

.symptoms {
  .button {
    display: block;
    margin: 70px 0 0 0;
    padding: 60px;
    text-align: center;
    background-color: #DDDDDD !important;
    color: #31708F;
    border-radius: 5px !important;
  }
}




